body {
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgb(242, 238, 238);
  border-radius: 10px;
  width: 40%;
  display: block;
  margin: 80px auto 80px auto;
  margin-top: 10px 10px;
}
.container {
  max-width: 400px;
  margin: 10px auto;
  padding: 30px 60px;
}
h1 {
  text-align: center;
  color: #1a64de;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 18px;
  font-weight: 300;
}
#email-address {
  border-radius: 5px;
  padding: 10px 5px;
  width: 90%;
  border: 4px light black;
  box-sizing: border-box;
  margin: 10px auto;
}
#password {
  border-radius: 5px;
  padding: 10px 5px;
  width: 90%;
  border: 4px light black;
  box-sizing: border-box;
  margin: 10px auto;
}
#send-button {
  color: white;
  position: relative;
  right: -70px;
  bottom: 30px;
  margin: 25px auto;
  font-size: 16px;
  width: 60%;
  padding: 10px 24px;
  background: #1a64de;
  line-height: 22px;
  border: 1px solid #1a64de;
  border-radius: 10px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0, 84) 0px 8px 8px 0;
}
button:hover {
  background: white;
  color: #1a64de;
  cursor: pointer;
  border: 1px solid #1a64de;
}
.form-check {
  margin-left: -40px;

  width: 40%;

  background-color: #f5f8fb;
}

#password-link {
  text-decoration: none;
  color: black;
  position: relative;
  left: 300px;
  bottom: 15px;
  font-size: 15px;
  font-weight: 300;
}
.new-user {
  position: relative;
  right: -50px;
  bottom: 65px;
}
#create-account {
  position: relative;
  right: -180px;
  bottom: 105px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}
